body {
  background: #2d9c3a;
}

.welcome {
  position: absolute;
  display: block;
  background-color: black;
  background-image: url('./Pictures/home1.jpg');
  background-size: contain;
  width: 100%;
  height: 100%;
}

.nameform {
  position: absolute;
  top: 60.3vh;
  left: 66vh;
  right: 65vh;
}

nav {
  display: block;
  justify-content: space-around;
  align-items: center;
  background: #282c34;
  color: white;
}

.navbar {
  max-height: 56px;
}


.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

ul.topnav {
  margin: 5px;
  overflow: auto;
  background-color: #000000;
  border-radius: 10px;
}

ul.topnav li {
  color: white;
  display: block;
}

ul.topnav li b {
  color: whitesmoke;
  text-align: left;
}

ul.topnav li button {
  position: relative;
  align-items: right;
  left: 90vh;
  margin-left: 3vh;
}

ul.topnav li a {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 12vh;
}

ul.topnav li a:hover:not(.active) {background-color: #58709b;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right a {float: right;}

.Card-table table {
  color: black;
  position: absolute;
  background-color: ivory;
  justify-content: center;
  text-align: center;
  align-content: center;
  width: 35rem;
}


input {
  
  width: 100%;
}

th {
  width:60vh;
}

p {
  text-align: center;
  font-size: small;
  align-content: center;
  border: 3px solid black;
  position: relative;
  top: -11vh;
}

.msgho {
  color: antiquewhite;
  text-align: center;
  font-size: large;
  font-family: Karmatic Arcade;
  align-self: center;
  position: absolute;
  top: 15vh;
  left: -11vh;
}

.msghome {
  color: antiquewhite;
  text-align: center;
  font-size: xx-large;
  font-family: Karmatic Arcade;
  align-self: center;
  position: absolute;
  top: 46vh;
  left: 58vh;
  right: 60vh;
}

.msgpos {
  color: antiquewhite;
  text-align: center;
  font-size: large;
  font-family: Karmatic Arcade;
  align-self: center;
  position: absolute;
  top: 2vh;
  left: 44vh;
}

.msgname {
  color: antiquewhite;
  text-align: center;
  font-size: medium;
  font-family: Karmatic Arcade;
  align-self: center;
  position: absolute;
  top: 53vh;
  left: 63vh;
  right: 65vh;
}

table {
    font-size: small;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 50rem;
}

.tabvic {
  color: black;
  position: absolute;
  background-color: ivory;
  justify-content: center;
  text-align: center;
  align-content: center;
  width: 35rem;
}

thead, tr, th, td {
  align-items: center;
  align-self: center;
  align-content: center;
}

.textrules {
  align-items: center;
  align-self: center;
  justify-content: center;
  font-size: smaller;
  font-family: "Geneva";
}

tit1 {
    font-family: Cheveuxdange;
    align-items: center;
}

tit2 {
    font-family: "Bradley Hand";
}

tit3 {
    font-family: Skia;
}

.tit1 {
  font-family: Cheveuxdange;

}

.tit2 {
  font-family: "Bradley Hand";
}

.tit3 {
  font-family: Skia;
}

.tit4 {
  font-family: Nasalization;
}

.cb {
  color: blue;
}

.cg {
  color: green;
}

.crr {
  color: red;
}

.dr {
  color: orangered;
}

.dg {
  color: darkgreen;
}

.db {
  color: royalblue;
}

.dc {
  color: slategrey;
}

tr b contrat {
    font-family: Nasalization ;
    font-size: large;
}

tr b cb {
    color: blue;
}

tr b cr {
    color: red;
}

tr b cg {
    color: green;
}


.App {
  position: absolute;
  top: 10vh;
  align-items: center;
  text-align: center;
  bottom: 22vh;
}

.App-logo3 {
  position: absolute;
  top: 28vh;
  left: -7vh;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-logo2 {
  position: relative;
  top: -12vh;
  left: -1vh;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.game {
  position: absolute;
  background-color: ivory;
  border : 3px solid black;
  width: 75%;
  height: 100%;
}

.chat {
  position: absolute;
  background-color: ivory;
  border : 3px solid #d33c40 ;
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
}

.ruletext {
  position: absolute;
  text-align: center;

}

.typetext {
  position: fixed;
  width: 24.5%;
  right: 0.5vh;
  bottom: 3px;
}

.messages {
  font-family: Courier;
  position: fixed;
  padding-bottom: 3vh;
  top: 10px;
  right: 100px;
}

.msg {
  position: absolute;
  font-size: 15px;
  padding-left: 1vh;
  top: 60px;
  left: 3px;
  bottom: 50px;
  overflow-y: scroll;
}

.contractor-east {
  position: absolute;
  top: 44.3vh;
  right: 29.5vh;
  color: white;
}

.contractor-south {
  position: absolute;
  bottom: 0.8vh;
  right: 66.5vh;
  color: white;
}

.contractor-west {
  position: absolute;
  top: 43vh;
  right: 116.8vh;
  color: white;
}

.contractor-north {
  position: absolute;
  top: 0.2vh;
  right: 63vh;
  color: white;
}

.App-arrow-east {
  position: relative;
  top: -7vh;
  right: -53vh;
  font-size: xx-large;
}

.App-arrow-south {
  position: relative;
  bottom: -24vh;
  right: 8vh;
  font-size: xx-large;
}

.App-arrow-west {
  position: relative;
  top: -8vh;
  right: 52vh;
  font-size: xx-large;
}

.App-arrow-north {
  position: relative;
  right: -12vh;
  bottom: 30vh;
  font-size: xx-large;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes contract-move {
  0%{
    transform: translateX(0);
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    transform: translateX(80vh);
    opacity: 0;
  }
}

.marge {
    margin-left: 5em;
}

.splitLine {
    background-color: black;
    font-size: xx-small;
    color: black;
}

.currentContract {
  position: absolute;
  font-family: fantasy;
  font-size: large;
  top: 1.5vh;
  right: 110vh;
  color: white;
  pointer-events: none;
  animation: contract-move infinite 7s linear;
}

.buttonrules {
  position: absolute;
  top: -1vh;
  left: 8vh;
}

.rules {
  font-size: small;
  display:inline-block;
  width:50%;
}

.contractorNameN {
  position: absolute;
  font-family: Nasalization;
  font-size: large;
  top: -5vh;
  right: -3vh;
  left: 1.5vh;
  color: red;
  transform: rotate(-180deg);
}

.playerNameN {
  position: absolute;
  font-family: Nasalization;
  font-size: large;
  top: -5vh;
  right: -3vh;
  left: -3vh;
  color: black;
  transform: rotate(-180deg);
}

.contractorNameS {
  position: absolute;
  font-family: Nasalization;
  font-size: large;
  bottom: 28vh;
  right: -9vh;
  left: -3.5vh;
  color: red;
  transform: rotate(0deg);

}

.playerNameS {
  position: absolute;
  font-family: Nasalization;
  font-size: large;
  bottom: 28vh;
  right: -9vh;
  left: -3vh;
  color: black;
  transform: rotate(0deg);
}

.contractorNameW {
  position: absolute;
  font-family: Nasalization;
  font-size: large;
  bottom: 28vh;
  right: -5vh;
  color: red;
  transform: rotate(-90deg);
}

.playerNameW {
  position: absolute;
  font-family: Nasalization;
  font-size: large;
  bottom: 28vh;
  right: -5vh;
  color: black;
  transform: rotate(-90deg);
}

.contractorNameE {
  position: absolute;
  font-family: Nasalization;
  font-size: large;
  bottom: 1vh;
  right: -6.2vh;
  color: red;
  transform: rotate(-90deg);
}

.playerNameE {
  position: absolute;
  font-family: Nasalization;
  font-size: large;
  bottom: 1vh;
  right: -6.2vh;
  color: black;
  transform: rotate(-90deg);
}

.badgeContract {
  position: fixed;
  right: 8vh;
  transform: rotate(-90deg);
}

.LoadPlayers {
  position: absolute;
  color: white;
  font-family: Impact;
  font-size: xx-large;
  align-items: center;
  text-align: center;
}

.LoadPosition {
  color: white;
  font-family: Krungthep;
  font-size: larger;
  position: absolute;
  align-items: center;
  text-align: center;
  top: 2vh;
  left: 23vh;
}

.App-logo {
  position: absolute;
  bottom: -85vh;
  left: 44vh;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.panelChoice {
  display: flex;
  background: black;
  align-items: center;
  color: white;
}

.gameplay{
  align-items: center;
  text-align: center;
  color: white;
}

.PanelPosition {
    color: white;
    align-items: center;
    text-align: center;
    position: relative;
    top: -3vh;
    right: 2vh;
    left: -0.5vh;
}

.PanelChoice {
  color: white;
  position: relative;
  top: -1vh;
}

.PanelVictory {
  color: white;
  font-family: Skia;
  position: fixed;
  font-size: medium;
  top: 42vh;
  left: 60vh;
}

.PanelVictory input {
  position: fixed;
  width: 8%;
  top: 65vh;
  left: 68vh;
}
